

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding-inline: 20px;
    width: 300px;
    padding-block: 30px;
    margin-block: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.containerTwo{
    display: flex; 
    flex-wrap: wrap;
    gap: 10px
}

form div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

label{
    color: #2b2768;
    font-weight: 500;
}

input, textarea, select{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    resize: none;
    width: calc(100% - 20px);
    color: #686868;
    font-family: sans-serif;
}

input::placeholder, textarea::placeholder, select::placeholder  {
    color: #b6b6b6;
    font-family: sans-serif;
}

button{
    background-color: #6c65f2;
    color: white;
    border: none;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.buttonUpdate{
    background-color: #a53434;
    color: white;
}


.bodyHome{
    background-color: #606570;
}

table{
    width: 100%; 
 }
 
 thead{
     background-color: #f6f8fc;
     color: #2b2768;
     font-weight: 500;
 }
 
 tbody tr:nth-child(odd){
     background-color: #dbdbdb;
 }
 
 
 .actionsContainer{
     display: flex; gap: 5px; flex-wrap: wrap;
 }


 .chipStatus{
    background-color: #606570;
    padding-inline: 2px;
    border-radius: 20px;
    color: white;
    text-align: center;
 }
 
 .update{
     background-color: #bbbb90;
     border-radius: 2px;
     padding: 5px;
     text-align: center;
     cursor: pointer;
 }
 
 .update:hover{
     background-color: #99997a;
 }
 
 .delete{
     background-color: #c43434;
     border-radius: 2px;
     padding: 5px;
     text-align: center;
     cursor: pointer;
     color: white;
 }
 
 .delete:hover{
     background-color: #a53434;
 }

 .containerTaks{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
    justify-content: center;
 }

 .tasks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    align-items: stretch;
    width: 95%;
    max-width: 1200px;
}

 @media screen and (min-width: 888px) {
    .tasks{
        width: 100%;
    }
 }