

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
    padding-block: 20px;
}

.buttonActionForm{
    
}

form div{
    display: flex;
    align-items: center;
    gap: 10px
}

table{
    width: 100%; 
 }
 
 thead{
     background-color: #282c34;
     color: white;
 }
 
 tbody tr:nth-child(odd){
     background-color: #dbdbdb;
 }
 
 
 .actionsContainer{
     display: flex; gap: 5px; flex-wrap: wrap;
 }


 .chipStatus{
    background-color: #606570;
    padding-inline: 2px;
    border-radius: 20px;
    color: white;
    text-align: center;
 }
 
 .update{
     background-color: #bbbb90;
     border-radius: 2px;
     padding: 5px;
     text-align: center;
     cursor: pointer;
 }
 
 .update:hover{
     background-color: #99997a;
 }
 
 .delete{
     background-color: #c43434;
     border-radius: 2px;
     padding: 5px;
     text-align: center;
     cursor: pointer;
     color: white;
 }
 
 .delete:hover{
     background-color: #a53434;
 }